<!DOCTYPE html>
{% load static %}
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Portfolio Index</title>
    <link rel="stylesheet" href="{% static 'libs/bootstrap/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'portfolio/style/style.css' %}">
    <script src="{% static 'libs/jquery/jquery-3.6.0.min.js' %}"></script>
    <script src="{% static 'libs/popper/popper.min.js' %}"></script>
    <script src="{% static 'libs/bootstrap/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'portfolio/script/portfolio.js' %}"></script>
  </head>
  <body>
{% if latest_project_list %}
    <ul>
    {% for project in latest_project_list %}
    <li><a href="{% url 'portfoilo:project' project.project_shortname %}">{{project.project_name}}</a></li>
    {% endfor %}
    </ul>
{% else %}
    <p>No projects are available.</p>
{% endif %}
  </body>
</html>